<ion-content padding>
  <ion-grid>
    <ion-row><ion-col>This is an ionic popover example.</ion-col></ion-row>
    <ion-row><ion-col><ion-button color="success" expand="block" (click)="closePopover()">Ok</ion-button></ion-col></ion-row>
  </ion-grid> 
</ion-content> 